#folders
.vs/
x64/
x86/
Debug/
Release/

#objects
*.obj
*.pdb
*.ilk
*.idb
*.tlog
*.log
*.exe
.DS_Store

#save files
game_crossing/rank_classic.txt
game_crossing/rank_endless.txt
game_crossing/saves_classic.txt
game_crossing/saves_endless.txt